<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <admin-navigation>Loading</admin-navigation>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg ">

        <!-- Page wrapper -->
        <admin-topnavbar></admin-topnavbar>

        <!-- Main view  -->
         <router-outlet></router-outlet>
        <!-- Footer -->
        <admin-footer></admin-footer>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <!--<div ng-include="'views/common/right_sidebar.html'"></div>-->

</div>
<!-- End wrapper-->